.logo{
    background: url(./practo\ logo.svg) no-repeat;
    height: 23px;
    width: 100px;
    margin-left: 81px;
    transform: scale(1.08);
    margin-right: 33px;
}

.collapse{
    height: 60px;
    /* background-color: #fff; */
    font-family: Lato,Open Sans,sans-serif;
    /* padding: 0; */
    /* color: #414146; */
    /* box-sizing: border-box; */
    border-bottom: 0px solid #f0f0f5;
    /* border-radius: 0; */

}

.nav-link{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(0 0 0 / 90%)!important;
    letter-spacing: -.3px;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
}


.signing{
    font-size: 13px;
    line-height: 13px;
    color: #787887!important;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding: 8px 10px;
    background-color: transparent;
    margin-left: 24px;
    margin-top: 5px;
}
.x{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    padding: 6px 20px 5px 30px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #b4b4be;
    cursor: pointer;
    outline: 0;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: #fff;
    margin-top: 23px;
    height: 40px;
    display: grid;

}

.y{
    height: 40px;
    margin-top: 23px;
    margin-left: -25px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    padding: 6px 20px 5px 30px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #b4b4be;
    cursor: pointer;
    outline: 0;
    display: grid;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: #fff;

}

.try-plus{
    height: 80px;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.limited-slot{
    width: 100%;
    margin-top: 40px;
}

#instant{
    display: flex;
    width: 200px!important;
    height: 290px;
    border: 1px solid #f0f0f5!important;
    box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
    border-radius: 24px!important;
    margin-right: 10px;
    padding-left: 0!important;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#instant-body{
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

/* .doc{
    height: 64%;
    background: #AFCFED;
    padding-top: 12px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0px;
    border-radius: 24px;
} */

.doc{

    width: 200px!important;
    height: 170px;
    background: #AFCFED;
    /* padding-top: 12px; */
    /* padding-left: 35px; */
    /* padding-right: 35px; */
    /* padding-bottom: 0px; */
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#doc-cards{
    margin-top: 60px;
}

#doc-row{
    justify-content: space-between;
}

.card1{
    width: 180px!important;
    padding: 50px;
    margin-left: -37px;
    margin-right: -171px;
 
    
}

.c-title{
    font-size: 14px;
    font-family: Lato,Open Sans,sans-serif;
    font-weight: 700;
}

.card-para{
    color: deepskyblue;
}

#consult-row{
    justify-content: space-between;
}




.post-slide .over-layer i {
   display: flex;
}

#health-concern{
    margin-top: 105px;
}

.clinic{
    
    font-size: 24px;

}

.view{
    
    
    font-size: 14px;
    color: #14bef0;
    font-weight: 400;
    padding: 12px 16px;
    border: 1.5px solid #14bef0;
    background-color: #fff;
    right: 10px;
    top: 22px;
    border-radius: 4px;
}

.img-size{
    width: 79%;
}
















/* searchfilter */
::selection{
    color: #fff;
    background: #4285f4;
  }
  /* .wrapper{
    width: 370px;
    margin: 85px auto 0;
  } */
  .x, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  /* .x{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  } */
  .x i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .x i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: relative;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }

 #moving {
    width: 81%!important;
    margin-left: 145px;
    transition: none!important;
    transform: none!important;
    translate: none!important;
  }